/* static/css/xpage.css */

html, body {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: Calibri
}

.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  border: 1px solid #888; /* Border for the slide effect */
  box-sizing: border-box;  /* Include padding and border in the width/height calculation */
  background-color: #f4f4f4;  /* Background color for the slide */
  overflow-y: scroll;  /* Prevent scrolling beyond the container */
}

.slide-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw * 9 / 16); /* Or your desired aspect ratio */
  padding: 0;
}

.slide-title {
  width: 100%;
  font-size: 6vw;
  color: #333;
  margin: 5px;
  text-align: center;
}

.slide-content {
  font-size: 3vw;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.slide-date {
  width: 10vw;
  padding: 0.5vw 2vw;
  font-size: calc(0.5rem + 0.5vw);
  margin-bottom: 20px;
  color: #888;
  border: 1px solid blue;
}
