/* static/css/xpage2.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

.slide-container {
  position: absolute;
  top: 0;
  left: 0;
  //height: 100vh;
  //width: calc(100vh * 16 / 9); /* Or your desired aspect ratio */
  width: 100vw;
  height: calc(100vw * 9 / 16); /* Or your desired aspect ratio */
  padding: 0;
  background-color: #fff;  /* Background color for the slide */
  //border: 1px solid #888; /* Border for the slide effect */
}

.slide-title {
  width: 100%;
  margin-top: 2vh;
  padding-top: 3vh;
  font-size: 5vw;
  color: #333;
  text-align: center;
  font-weight: normal;
  height: 11.5vh;
  padding-bottom: 1.4vh;
}

.slide-content {
  margin-top: 0vh;
  padding-top: 0vh; 
  text-align: left;
  font-size: 6vh;
  background-color: white;
  padding-left: 7vw;
  padding-right: 5vw;
  li {
    line-height: 7.1vh;
    padding-bottom: 1.2vh;
  }
}

.slide-left-rect {
  position: absolute;
  top: 54vh;
  left: 0;
  width: 2.4vw;
  height: 27vh;
  background: #4f81bd;  
}

.slide-date {
  width: 10vw;
  padding: 0.5vw 2vw;
  font-size: 1.7vw;
  color: #888;
  position: absolute;
  left: calc(50% - 5vw);
  top: 92vh;
}

.slide-ref {
  font-size: 1.5vw;
  position: absolute;
  top: 86vh;
  width: 86vw;
  //word-wrap: break-word;
}

.slide-url {
  color: #4f81bd;
}
