/* static/css/xpage2.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

.slide-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  box-shadow: 10 10px 30px rgba(0, 0, 0, 0.3);
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  
  --width: min(100vw, calc(100vh * 16 / 9));
  --height: min(100vh, calc(100vw * 9 / 16));
  
  width: var(--width);
  height: var(--height);
  
  overflow: hidden;
}

.slide-title {
  width: 100%;
  margin-top: calc(0.04 * var(--height));
  padding-top: calc(0.03 * var(--height));
  font-size: calc(0.11 * var(--height));
  color: #333;
  text-align: center;
  font-weight: normal;
  height: calc(0.1 * var(--height));
}

.slide-content {
  text-align: left;
  font-size: calc(0.075 * var(--height));
  background-color: white;
  padding-right: calc(0.12 * var(--height));
}

.slide-content ul {
  padding-left: calc(0.14 * var(--height));
}

.slide-content li {
  padding-left: calc(0.01 * var(--height));
  line-height: calc(0.09 * var(--height));
  padding-bottom: calc(0.015 * var(--height));
}

.slide-content table {
  margin-top: calc(0.02 * var(--height));
  font-size: 75%;
  line-height: 75%;
  td { padding: calc(0.02 * var(--height)) 0; }
  th {
    text-align: center;
    padding-left: calc(0.04 * var(--height));
    padding-right: calc(0.04 * var(--height));
  }
}

.slide-left-rect {
  position: absolute;
  top: calc(0.54 * var(--height));
  left: 0;
  width: calc(0.06 * var(--height));
  height: calc(0.27 * var(--height));
  background: #4f81bd;  
}

.slide-date {
  width: calc(0.2 * var(--height));
  padding: calc(0.01 * var(--height)) calc(0.05 * var(--height));
  font-size: calc(0.04 * var(--height));
  color: #888;
  position: absolute;
  left: calc(50% - calc(0.12 * var(--height)));
  top: calc(0.9 * var(--height));
}

.slide-ref {
  font-size: calc(0.036 * var(--height));
  position: absolute;
  top: calc(0.83 * var(--height));
  width: calc(1.57 * var(--height));
  padding-left: calc(0.09 * var(--height));
  padding-right: calc(0.12 * var(--height));
  line-height: calc(0.04 * var(--height));
}

.slide-url {
  color: #4f81bd;
}

.katex, .katex-display {
  font-size: 100% !important;
}

.katex-display {
  margin-top: calc(0.05 * var(--height)) !important;
  margin-bottom: calc(0.02 * var(--height)) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mol-container {
  margin: auto;
  position: relative;
  height: calc(0.55 * var(--height));
  width: calc(1.5 * var(--height));
}

.abcd-js {
  margin: auto;
  left: calc(0.05 * var(--height));
  position: relative;
  width: calc(1.5 * var(--height));
  border: 1px solid black;
  padding-top: 0;
}