{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html,
      as a sort of list page, will pull from
      content/_index.md -->
      {{ .Content }}
    </div>
    
    {{ $max := len .Site.RegularPages }}
    {{ $index :=  sub $max 1 }}
    
    <div class="posts-box-container">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "xdeck") }}
      {{ range $paginator.Pages }}
      
        <div class="homepage-posts-box">
          <code>
            {{ dateFormat "02-Jan-2006" .Date }}
          </code><br>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </div>
      
        {{ $index = sub $index 1 }}
      {{ end }}
    </div>

    <!--
    url https://chatgpt.com/share/674c42d8-7298-800a-9d2f-57af4c77c925 [20241201]
    -->
    <div class="pagination-container">
      <div class="pagination">
        <!-- "Previous" button -->
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}" class="prev">&lt;</a>
        {{ end }}
        
        <!-- Numeric pagination -->
        {{ range $paginator.Pagers }}
          {{ if eq . $paginator }}
            <span class="current">{{ .PageNumber }}</span> <!-- Current page -->
          {{ else }}
            <a href="{{ .URL }}" class="page">{{ .PageNumber }}</a>
          {{ end }}
        {{ end }}
             
        <!-- "Next" button -->
        {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}" class="next">&gt;</a>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
