{{ define "main" }}
  {{ if eq .Type "xdeck" }}
    <head>
      <link rel="stylesheet" href="/slide-lib/css/xdeck.css?v={{ now.Unix }}">
    </head>
  {{ end }}
  
  <div class="slide-container">
    <h1 class="slide-title">{{ .Title }}</h1>
    <div class='slide-rect'></div>

    {{ if .Params.pages }}
      <ul class='list-of-pages'>
        {{ range .Params.pages }}
          <li>
            <a href="{{ . | relURL }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No pages found for this deck.</p>
    {{ end }}

    <div class="slide-content">
      {{ .Content }}
    </div>
    <div class="slide-date">
      <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
        {{ .Date | time.Format "2006-01-02" }}
      </time>
      </div>
  </div>
  {{ partial "posts/math.html" . }}
{{ end }}
